
/*全局样式*/
*{padding:0;margin:0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input{border:none;}
body{font-family:Microsoft YaHei;font-size:12px;background:#180f33;color:#fff;}
html{overflow-y:scroll;}
ul,ol{list-style-type:none;}
th,td,input{font-size:12px;}
h3{font-size:14px;}
h4{font-size:18px;}
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;}
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
a:link,a:visited{text-decoration:none;color:#fff;}
a:hover,a:active{
	text-decoration:none!important;
	color:#fff;
}


/*---------------------------------------------------------------*/
.left{
	float: left;
}

.right{
	float: right;
}
.tall:after{content: "";display: block;height:0;clear: both;overflow:hidden;visibility: hidden;}

/*公有的样式的*/
.exh,.about,.guest,.report,.scene,.banner
{
	width: 1100px;
	margin: 0 auto;
}
.fb{
	color: #c1acff;
}

.fr{
	color: #c000d7;
}

.fbl{
	color: #6badff;
}

.f16{
	font-size:16px; 
}

.f14{
	font-size:14px; 
}

.f24{
	font-size: 24px;
}
/*---------------------------------------------------------------*/

.banner-bg{
	height: 970px;
	background: url(../img/banner_bg1.png) no-repeat center -5px;
}

.banner-box{
	position: relative;
	width: 1100px;
	height: 700px;
	margin: 0 auto;
}

.banner-2{
	width: 770px;
	height: 770px;
	-webkit-animation: xuanzhuang 30s infinite linear;
	position: absolute;
    top: -67px;
    left: 170px;
}

.banner-1{
	position: absolute;
    width: 441px;
    height: 441px;
    left: 325px;
    top: 96px;
    background: url(../img/star1.png) no-repeat center;
    -webkit-animation: r-xuanzhuang 30s infinite linear;
}



.banner-logo{
	position: absolute;
	top: 93px;
    left: 7px;
	width: 1100px;
	height: 424px;
	background: url(../img/btext.png) no-repeat center;
	-webkit-animation: zoomIn 1s  linear;
}

.banner-text{
	position: absolute;
    top: 545px;
    left: 48px;
    width: 1011px;
    line-height: 26px;
}

.ld-tit{
	width: 1100px;
    margin: 0 auto;
	height: 136px;
	padding-top: 70px;
	background: url(../img/tit.png) no-repeat 330px center ;
}

.ld-tit img{
	display: block;
	margin: 0 auto;
}
.exh{
	height: 720px;
}

.exh-l{
	width: 460px;
	height: 360px;
}

.exh-l p{
	font-size: 14px;
	padding-right: 70px;
	line-height: 25px;
}

.ex-r{
	width: 638px;
	height: 358px;
	border: 1px solid #c000d7;
	position: relative;
	
}

.exh-con{
	position: absolute;
	left: 0;
	top: 0;
	width: 3190px;
	height: 358px;
}

.ex-box {
	position: absolute;
	width: 638px;
	height: 358px;
	left: 0;
	top: 0;
	overflow: hidden;
}

.exh-con li{
	width: 630px;
	height: 350px;
	float: left;
	padding: 4px;
}

.exh-con li img{
	display: block;
	width: 100%;
	height: 100%;
}

.exh-bot{
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 876px;
	height: 40px;
	background: url(../img/jiaoxia.png) no-repeat  center ;
}

.exh-swi-text{
	width: 640px;
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	margin-left: 30px;
}

.exh-cotron{
	width: 138px;
	height: 40px;
}

.exh-cotron li{
	float: left;
	width: 12px;
	height: 12px;
	border:1px solid #fff;
	border-radius: 50%;
	margin: 12px 5px 0;
	cursor: pointer;
}

.exh-cotron .exh-active{
	background: #fff;
}







.exhcon-bottom{
	height: 180px;
	padding-top: 40px;
	background: url(../img/kuan.png) no-repeat center;
}

.exhcon-bottom p{
	width: 960px;
	padding: 35px;
	font-size: 16px;
	color: #c1acff;
	margin: 0 auto;
	background-color: #231746;
}

.scene-bg{
	width: 100%;
	height: 912px;
}

.scene-con{
	height: 706px;
}

.about{
	height: 700px;
}

.about-con{
	text-align: center;
}

.about-con li:nth-child(2){
	margin-top: 15px;
}

.about-con li:nth-child(3){
	margin-top: 30px;
}

.about-con li:nth-child(4){
	margin: 15px 0 20px;
}

.about-con li:nth-child(5){
	line-height: 28px;
}


.about-con li:nth-child(6){
	margin: 15px 0 20px;
}

.guest{

}

.guest-intr{
	color: #f5f4ff;
	padding: 0 200px 20px;
	line-height: 27px;
}

.guest-con {
	padding: 43px 0 150px;
}

.guest-con li{
	float: left;
	width: 253px;
	height: 400px;
	background-color:#211740;
	margin-right: 29px;
	position: relative;
	cursor: pointer;
}

.limit-box{
	width: 100%;
	height: 100%;
}

.guest-con li:nth-child(4){
	margin-right: 0px;
}

.p-photo{
	position: absolute;
	left: 48px;
	top: 30px;
	width: 152px;
	height: 152px;
	transition: width 1s, height 1s, top 1s, left 1s, border 1s;
	z-index: 2;
	border: 1px solid #c000d7;
	border-radius: 50%;
	padding: 4px;
}

.guest-con li:hover .p-photo{
	width: 100px;
	height: 100px;
	top: -40px;
	left: 70px;
	border:none;
}




.p-name{
	position: absolute;
	height: 38px;
	top: 245px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	background: url(../img/red.png) no-repeat center bottom;
}
.p-job{
	position:absolute;
	width: 100%;
	text-align: center; 
	bottom: 70px;
}

.p-speical{
	position: absolute;
	left: 0;
	top: 0px;
	width: 213px;
	height: 300px;
	background: #30ace0;
	opacity: 0;
	transition: opacity 1s;
	padding: 100px 20px 0;
	line-height: 20px;
	color: #063a54;
}

.guest-con li:hover .p-speical{
	opacity: 1;
}

.report{
	height: 870px;
}

.report-con li{
	float: left;
	width: 530px;
	height: 160px;
	margin-bottom: 20px;
}

.report-con li:nth-child(2){
	float: right;
}

.report-con li:nth-child(4){
	float: right;
}

.report-con li:nth-child(6){
	float: right;
}
.report-img{
	width: 290px;
	height: 160px;
	border: 1px solid #c000d7;
	padding: 2px;
}

.report-img img{
	width: 100%;
	height: 100%;
}

.report-text{
	width: 180px;
	padding: 0 20px;
	height: 160px;
}

.report-text p{
	margin-top: 30px;
	margin-bottom: 10px;
}

.report-text a{

	color:#c000d7;
}

/*-------------------------------运动的样式的----------------------------*/
@keyframes xuanzhuang
{
0%{
	transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes r-xuanzhuang
{
0%{
	transform:rotate(360deg);
	}
	100%{
		transform:rotate(0deg);
	}
}



@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes changesmall
{
0%{
	left: 48px;
	top: 30px;
	width: 160px;
	height: 160px;
	}
	100%{
		width: 100px;
		height: 100px;
		top: -40px;
		left: 80px;
	}
}

/*-------------------------------------------媒体查询的样式的--------------------*/
@media screen and (min-width: 400px) and (max-width: 600px)  {
	
	body{
		width: 1200px;
	}
	.rice-banner-bg,.ricePriza-bg,.riceShip-bg,.rice-rulers-bg,.mode{width: 1200px;}

	
}
@media screen and (min-width: 600px) and (max-width: 750px)  {
	
	body{
		width: 1200px;
	}
	.rice-banner-bg,.ricePriza-bg,.riceShip-bg,.rice-rulers-bg,.mode{width: 1200px;}
	
}

@media screen and (min-width: 750px) and (max-width: 1200px)  {
	body{
		width: 1200px@import;
	}
	.rice-banner-bg,.ricePriza-bg,.riceShip-bg,.rice-rulers-bg,.mode{width: 1200px;}
}